@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMON STYLES */

.create-account-btn {
  font-weight: semibold;
  border-radius: 6px;
  border: 1px solid rgb(37 99 235);
  color: rgb(37 99 235);
}

.create-account-btn:hover {
  color: rgb(255 255 255);
  background-color: rgb(37 99 235);
}

.log-in-btn {
  color: #777;
  cursor: pointer;
  border-radius: 6px;
}

.log-in-btn:hover {
  background-color: rgb(219 234 254);
  color: rgb(37 99 235);
}
