@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMON STYLES */

body {
  background-color: rgba(222, 222, 222, 0.3);
  overflow-x: hidden;
}

.create-account-btn {
  font-weight: semibold;
  border-radius: 6px;
  border: 1px solid rgb(37 99 235);
  color: rgb(37 99 235);
}

.create-account-btn:hover {
  color: rgb(255 255 255);
  background-color: rgb(37 99 235);
}

.log-in-btn {
  color: #777;
  cursor: pointer;
  border-radius: 6px;
}

.log-in-btn:hover {
  background-color: rgb(219 234 254);
  color: rgb(37 99 235);
}

/* VENTRE PANEL */
.centre-panel-tags {
  cursor: pointer;
  border-radius: 6px;
  padding: 5px 10px;
}

.centre-panel-tags:hover {
  color: rgb(37 99 235);
  background: #fff;
}

/* DISCUSSION THREADS */
.discussion-box:hover h3 {
  color: rgb(37 99 235);
}
